@import './prism.css';
@import './react-diff-view.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    src: url('/src/assets/fonts/geist/variable/Geist[wght].ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/src/assets/fonts/roboto_mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/src/assets/fonts/roboto_mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
  }
  :root {
    --background: 48 100% 96.1%; /* amber-50 */
    --foreground: 13 81.1% 14.5%; /* amber-950 (was stone-800) */
    --card: 48 96.5% 88.8%; /* amber-50 */
    --card-foreground: 12 6.5% 15.1%; /* stone-800 */
    --popover: 48 96.5% 88.8%; /* amber-50 */
    --popover-foreground: 12 6.5% 15.1%; /* stone-800 */
    --primary: 13 81.1% 14.5%; /* amber-950 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 142.4 71.8% 29.2%; /* green-700 */
    --muted: 48 96.5% 80%; /* amber-100 - 10% lightness */
    --muted-foreground: 25 5.3% 44.7%; /* stone-500 */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 355.6 100% 94.7%; /* rose-100 */
    --destructive-foreground: 346.8 77.2% 49.8%; /* rose-600 */
    --border: 21.7 77.8% 26.5% / 20%; /* amber-900 */
    --input: 21.7 77.8% 26.5% / 20%;
    --ring: 24 5.4% 63.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Geist';
  }
}

.messageBubble {
  position: relative;
  --s: 0.5em;

  padding: 1rem;
  /* border-left: var(--s) solid #0000; */
  border-radius: 8px;
  border-bottom-left-radius: 0;

  &:before {
    content: '';
    position: absolute;
    top: 1em;
    bottom: 0;
    left: calc(var(--s) * -1);
    width: 0;
    border-left: var(--s) solid #0000;
    background: inherit;
    mask:
      radial-gradient(100% 100% at 0 0, #0000 99%, #000 102%) 0 calc(100%) / var(--s) var(--s) no-repeat border-box,
      linear-gradient(#000 0 0) padding-box;
  }
}
